<!--
**NOTE:** This is a template for index.html
It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. 
htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles 
to this file. The generated bundles have hash-based filenames, so it is neccessary to add the 
references dynamically. 
For more info on ejs, see http://www.embeddedjs.com
For examples on using it with htmlWebpackPlugin, see
https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
-->

<!DOCTYPE html>
<html lang="da">

<head>
    <!-- if the trackJSToken is defined inside the webpack.config, this code will be rendered. 
    We only define this variable inside webpack.config.prod, not dev -->
    <% if (htmlWebpackPlugin.options.trackJSToken){ %>
        <!-- BEGIN TRACKJS -->
        IT WORKS
        <!-- Paste your TrackJS token <%='htmlWebpackPlugin.options.trackJSToken' %> and scripts here. -->
        <!-- END TRACKJS -->
        <% } %>

            <title>Hello</title>
            <meta charset="UTF-8">
</head>

<body>
    <h1>Users</h1>
    <table>
        <thead>
            <th>&nbsp;</th>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </thead>
        <tbody id="users">

        </tbody>
    </table>
</body>

</html>